html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	font-family: Tahoma, sans-serif;
	font-size: 10.5px;
	color: #fff;
	text-shadow: 1px 1px 0px #535353;
	background: url(login-img/bg.png) repeat-x;
	background-color: #70c0f3;
}
#container {
	background: url(login-img/main_bg.png) no-repeat;
	width: 479px;
	height: 320px;
	margin: 130px auto 0 auto;
	padding: 8px 0 0 8px;
	position: relative;
}
#logo {
	background: url(login-img/logo.png) no-repeat;
	width: 186px;
	height: 86px;
	margin: 45px 0 0 17px;
}
#wrapper {
	position: absolute;
	right: 12px;
	top: 6px;
	background: url(login-img/wrapper.png) no-repeat;
	width: 93px;
	height: 65px;
}
#container form {
	width: 215px;
	height: 145px;
	float: right;
	margin-top: -15px;
	margin-right: 110px;
	position: relative;
}
#container form input {
	width: 225px;
	height: 33px;
	border: 1px solid #6f6f6f;
	margin-bottom: 9.2px;
	padding-left: 35px;
	padding-right: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 1px 2px 2px #538eb2;
	position: relative;
	z-index: 1;
}
#container form img.login {
	position: absolute;
	z-index: 2;
	top: 12px;
	left: 12px;
}
#container form img.password {
	position: absolute;
	z-index: 2;
	top: 57px;
	left: 10px;
}
#container form input.submit {
	display: none;
	width: 24px;
	height: 25px;
	border: none;
	background: url(login-img/signup.png) no-repeat;
	position: absolute;
	top: 56px;
	right: 27px;
}
#username-tab {
	background-color: #c05f5f;
	text-align: center;
	width: 83px;
	height: 25px;
	position: absolute;
	top: 106px;
	right: 70px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	box-shadow: 1px 2px 2px #538eb2;
}
#password-tab {
	background-color: #c05f5f;
	text-align: center;
	width: 60px;
	height: 17px;
	position: absolute;
	bottom: 104px;
	left: 175px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	box-shadow: 1px 2px 2px #538eb2;
	z-index: 1;
}
#password-tab p {
	margin-top: 3px;
}
#register {
	width: 160px;
	height: 20px;
	float: right;
	margin-top: -59px;
	margin-right: 48px;
}
a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	color: #e4ff00;
}